<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580316654211-3qqs6q2kajs92c7mc7n9n00oht87eke6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580316654211-3qqs6q2kajs92c7mc7n9n00oht87eke6</string>
	<key>API_KEY</key>
	<string>AIzaSyAY1mZG0F0YdAZJwSuVRzQtFboxtkkJifM</string>
	<key>GCM_SENDER_ID</key>
	<string>580316654211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YoonSuLee.13.Notice.app</string>
	<key>PROJECT_ID</key>
	<string>notice-dab7b</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-dab7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580316654211:ios:44827d249838bb5d0909b6</string>
</dict>
</plist>